@model List<sistema_eventos.ViewModel.TicketDetalhesViewModel>
@{
    ViewData["Title"] = "Ticket Admin";
}
<h4 style="color: white">Tickets</h4>
<a asp-controller="Admin" asp-action="Index">
    <button class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i></button>
</a>
<table class="table table-dark table-striped mt-3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome do cliente</th>
            <th scope="col">E-mail do cliente</th>
            <th scope="col">Nome do evento</th>
            <th scope="col">Açoes</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var ticket in Model)
            {
                <tr>
                    <th scope="row">@ticket.TickerId</th>
                    <td>@ticket.NomeCliente</td>
                    <td>@ticket.EmailCliente</td>
                    <td>@ticket.EventoNome</td>
                    <td>
                        <div class="d-flex">
                            <a type="button" class="btn btn-success m-2" asp-controller="Ticket" asp-action="DetalhesTicket" asp-route-id="@ticket.TickerId">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>